services:
    - type: web
      name: ai-nursing-tutor
      env: docker
      envVars:
          - key: APP_NAME
            value: 'Clinical Context'
          - key: APP_KEY
            generateValue: true
          - key: APP_ENV
            value: production
          - key: APP_DEBUG
            value: false
          - key: DB_CONNECTION
            value: pgsql
          - key: DB_URL
            fromDatabase:
                name: nursing-db
                property: connectionString
          - key: DATABASE_URL
            fromDatabase:
                name: nursing-db
                property: connectionString
          - key: APP_URL
            value: https://ai-nursing-tutor.onrender.com
          - key: SANCTUM_STATEFUL_DOMAINS
            value: ai-nursing-tutor.onrender.com,ai-nursing-tutor.vercel.app
          - key: SESSION_DOMAIN
            value: ai-nursing-tutor.onrender.com
          - key: GEMINI_API_KEY
            sync: false
          - key: LOG_CHANNEL
            value: errorlog

databases:
    - name: nursing-db
      plan: free
      region: oregon
