services:
    - type: web
      name: ai-nursing-tutor
      env: docker
      envVars:
          - key: APP_KEY
            generateValue: true
          - key: APP_ENV
            value: production
          - key: APP_DEBUG
            value: true
          - key: DB_CONNECTION
            value: pgsql
          - key: DB_URL
            fromDatabase:
                name: nursing-db
                property: connectionString
          - key: ASSET_URL
            value: https://ai-nursing-tutor.vercel.app
          - key: APP_URL
            value: https://ai-nursing-tutor.vercel.app
          - key: LOG_CHANNEL
            value: errorlog

databases:
    - name: nursing-db
      plan: free
      region: oregon
